astroid==3.1.0
autopep8==2.0.4
bidict==0.23.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
filelock==3.13.1
h11==0.14.0
idna==3.6
isort==5.13.2
mccabe==0.7.0
platformdirs==4.2.0
pycodestyle==2.11.1
pylint==3.1.0
python-engineio==4.9.0
python-socketio==5.11.1
requests==2.31.0
simple-websocket==1.0.0
tomlkit==0.12.4
urllib3==2.2.1
virtualenv==20.25.1
websocket-client==1.7.0
wsproto==1.2.0
